<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-custom" role="navigation">
        <a class="navbar-brand" href="/">
            <img class="visible-lg" src="~/Content/Images/Logo.png">
            <img class="visible-md visible-sm" src="~/Content/Images/LogoMd.png">
            <img class="visible-xs" src="~/Content/Images/LogoMobile.png">
        </a>

        @Html.Action("Summary", "Cart")
        @Html.Partial("_LoginPartial")
    </div>
    <div class="hidden-lg">
        @*Html.Action("Menu", "Nav", new { mobileNav = true })*@
    </div>
    <div class="row panel">
        <div class="col-sm-3 visible-lg">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8">
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>