@using OnlineShop.WebUI.Helpers
@model OnlineShop.Domain.Entities.Product

<div class="product-box">
    @*<a href="@Url.Action("Product", new { @Model.ProductId })">*@
    @*Html.RouteLink(Model.Name, new { controller = "Product", action="Product", productId = Model.ProductId, productName = Model.Name})*@
    @if (Model.ImageData != null)
    {
    <div class="img-product">
        <a href="@Url.RouteUrl("", new { controller = "Product", action = "Product", productId = Model.ProductId, productName = SEOHelper.EscapeUrl(Model.Name) })">
            <img class="img-thumbnail" src="@Url.Action("GetImage", "Product", new { Model.ProductId })" />
        </a>
    </div>


    }

    <h4 class="product text-center">
        @Html.RouteLink(Model.Name, new { controller = "Product", action = "Product", productId = Model.ProductId, productName = SEOHelper.EscapeUrl(Model.Name) })

    </h4>
    <h4 class="pull-right">@Model.Price.ToString("c")</h4>
    @*</a>*@
</div>