@model OnlineShop.WebUI.Models.IndexViewModel
@{
    ViewBag.Title = "Sklep online - zarządzanie kontem";
}

<h2>Konto @Model.Email</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zmień swoje dane</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            ]
        </dd>
        
        <dd>
            [
            @Html.ActionLink("Zmień dane osobowe", "EditPersonalData")
            ]
        </dd>

        <dt>Imię:</dt>
        <dd>
            @if (Model.FirstName != null)
            {
                <text>@Model.FirstName</text>
            }
        </dd>
        
        <dt>Nazwisko:</dt>
        <dd>
            @if (Model.LastName != null)
            {
                <text>@Model.LastName</text>
            }
        </dd>
        
        <dt>Adres:</dt>
        <dd>
            @if (Model.Address != null)
            {
                <text>@Model.Address.Line1 @Model.Address.Line2
                @if (Model.Address.Line3 != null)
                {
                    <text> / @Model.Address.Line3</text>
                }
                </text>
            }
        </dd><dt>Województwo:</dt><dd>
            @if (Model.Address != null)
            {
                <text>@Model.Address.State</text>
            }
        </dd>
        
        <dt>Kod pocztowy:</dt>
        <dd>
            @if (Model.Address != null)
            {
                <text>@Model.Address.Zip</text>
            }
        </dd>
        
        <dt>Kraj:</dt>
        <dd>
            @if (Model.Address != null)
            {
                <text>@Model.Address.Country</text>
            }
        </dd>

        <dt>Numer telefonu:</dt>
        <dd>
            @if (Model.PhoneNumber != null)
            {
                <text>@Model.PhoneNumber</text>
            }
        </dd>
        

    </dl>
</div>
