@model OnlineShop.WebUI.Models.IndexViewModel
@{
    ViewBag.Title = "Sklep online - zarządzanie kontem";
}

<h2>Konto @Model.Email</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zmień swoje dane</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            ]
        </dd>
        
        @*<dt>Imię:</dt>
        <dd>
            [
            @if (Model.FirstName)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            ]
        </dd>*@

        <dt>Numer telefonu:</dt>
        <dd>
            @(Model.PhoneNumber ?? "Brak")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Zmień", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Dodaj", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            }
        </dd>
        

    </dl>
</div>
