@model OnlineShop.WebUI.Models.MenuViewModel
@using OnlineShop.WebUI.Helpers

@{
    bool horizontal = ((bool)(ViewContext.RouteData.Values["mobileNav"] ?? false));
    string wrapperClasses = horizontal ? "btn-group btn-group-sm btn-group-justified" : null;
}

<div class="left-menu">
    @if (!string.IsNullOrEmpty(ViewBag.SelectedCategory))
    {
    <h4>Kategoria:  @ViewBag.SelectedCategory </h4>
    }
    @if (ViewBag.SelectedSortingOption != null && ViewBag.SelectedSortingOption != OnlineShop.WebUI.Models.SortingType.NoSorting)
    {
        <h4 class="selectedSortingOptionLabel">Sortowanie:  @OnlineShop.WebUI.Helpers.EnumHelper.GetDescription(ViewBag.SelectedSortingOption) </h4>
    }


    @if (horizontal == false)
    {
        <div class="categories-button btn btn-block btn-default btn-lg">Kategorie</div>
        <div class="categories-helper">
            <div class="categories cat-off">

                @foreach (var link in Model.Categories)
                {
                    @Html.RouteLink(link.CategoryName, new { controller = "Product", action = "List", category = link.CategoryName, page = 1 },
                     new { @class = "btn btn-block btn-default btn-lg" + (link.CategoryName == ViewBag.SelectedCategory ? " btn-primary" : "") })
                }
            </div>
        </div>
    }




    @if (horizontal == false)
    {
        <div class="sorting-button btn btn-block btn-default btn-lg">Sortowanie</div>
        <div class="sorting-helper">
            <div class="sorting off">
                @foreach (var link in Model.SortingOptions)
                {
                    if (link == OnlineShop.WebUI.Models.SortingType.NoSorting)
                    {
                        continue;
                    }
                    if (ViewBag.SelectedCategory == null)
                    {
                        @Html.RouteLink(OnlineShop.WebUI.Helpers.EnumHelper.GetDescription(link), new { controller = "Product", action = "List", sortingOption = link, page = 1 },
                                        new { @class = "btn btn-block btn-default btn-lg" + (link == ViewBag.SelectedSortingOption ? " btn-primary" : "")})
                    }
                    else
                    {
                        @Html.RouteLink(OnlineShop.WebUI.Helpers.EnumHelper.GetDescription(link), new { controller = "Product", action = "List", category = ViewBag.SelectedCategory, sortingOption = link, page = 1 },
                                        new{@class = "btn btn-block btn-default btn-lg" + (link == ViewBag.SelectedSortingOption ? " btn-primary" : "")})
                    }
                }
            </div>
        </div>
    }
</div>





