@model OnlineShop.Domain.Entities.ShippingDetails


@{
    ViewBag.Title = "Sklep online: Wysyłka";
}

<h2>Wysyłka</h2>
<p>Proszę podać swoje dane, a towar zostanie natychmiast wysłany!</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <h3>Wysyłka dla</h3>
    <div class="form-group">
        <label>Nazwisko:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <h3>Adres</h3>

    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    <h3>Opcje</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Zapakowane jako prezent
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Zakończ zamówienie" />
    </div>
}

