@model OnlineShop.WebUI.Models.CartIndexViewModel


@{
    ViewBag.Title = "OnlineShop: Twój koszyk";
}


<h2>Twój koszyk</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th class="text-center">Ilość</th>
            <th class="text-center">Produkt</th>
            <th class="text-center">Cena</th>
            <th class="text-center">Wartość</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-center">@line.Product.Name</td>
            <td class="text-center">@line.Product.Price.ToString("c")</td>
            <td class="text-center">@((line.Quantity * line.Product.Price).ToString("c"))</td>
            <td class="cart-delete-product">
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductId", line.Product.ProductId)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Usuń"/>
                    }
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Suma:</td>
            <td class="text-center">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Kontynuuj zakupy</a>
    @Html.ActionLink("Złóż zamówienie", "Choice", null, new { @class = "btn btn-primary"})
</div>

