@model OnlineShop.Domain.Entities.Product

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="text-center">Kategoria: @Model.Category.CategoryName</h5>

<h2 class="text-center">@Model.Name</h2>

<br />

@if (Model.ImageData != null)
{
    <div>
        <img class="img img-center" src="@Url.Action("GetImage", "Product", new { Model.ProductId })" />
    </div>
}
<br />
<br />

@using (Html.BeginForm("AddToCart", "Cart"))
{

<div class="text-center">
    <span class="price">@Model.Price zł</span>
    @Html.DropDownList("quantity", Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
    @Html.HiddenFor(x => x.ProductId)
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
    <input type="submit" class="btn btn-success add-cart" value="Dodaj do koszyka" />
</div>
}
<br />
<hr />
<h4 class="text-center">@Model.Description</h4>
<hr />

